                    <tr class="{{row_class}}">
                        <td>#{{id}}</td>
                        <td><i class="fa-solid fa-user text-icon"></i> {{customer_name}}</td>
                        <td>{{email}}</td>
                        <td>{{total}}</td>
                        <td><i class="fa-regular fa-clock text-icon"></i> {{created_at}}</td>
                        <td><a href="orders.php?id={{id}}" class="btn btn-sm"><i class="fa-solid fa-magnifying-glass"></i> Details</a></td>
                    </tr>
