        <h1 class="page-title"><i class="fa-solid fa-receipt"></i> Orders</h1>

        <div class="table-wrap card card-pad">
            <table class="data-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Customer</th>
                        <th>Email</th>
                        <th>Total</th>
                        <th>Date</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {{order_rows}}
                </tbody>
            </table>
        </div>

        {{empty_orders}}

        {{order_detail}}
